* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Geist', sans-serif;
  background-color: #f3f4f6;
  color: #111827;
  min-height: 100vh;
  padding: 32px 16px;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}
